body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: 333;
}

*:before,
*:after {
	box-sizing: border-box;
}



h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	display: block;
	border: 0;
	width: 100%
	height: 1px;
	margin: 40px 0;

	background-color: #fff;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

}
/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;

	background: 
	url("../images/intro.jpg")
	center
	no-repeat;

	-webkit-background-size: cover;
	background-size: cover;

}

.intro__inner {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;

	text-align: center;

}

.intro__tittle {
	color: #fff;
	font-size: 72px;
	font-weight: 700;
	/*text-transform: uppercase;*/
	line-height: 1;
}

.intro__tittle:after {
	content: "";
	display: block;
	width: 60px;
	height: 4px;

	margin: 30px auto;

	background-color: #fff;
}


.intro__suptittle {
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	font-size: 48px;


}

/* Header */
.header {
	width: 100%;
	padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
 /* Navigation */
.nav {
	font-size: 15px;
	font-weight: 700;
	
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;

	color: #fff;
	text-decoration: none;

	transition: color .2s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;

	background-color: #EAED49;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav__link:hover {
	color: #EAED49;
}

.nav__link:hover:after {
	display: block;
	
}

/* Button */

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 4px 10px;

	border: 4px solid #fff;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;

	transition: background .1s linear, color .1s linear;
	

}

.btn:hover {
	background-color: #fff;
	color: #333;
}

/* Section */

.section {
	padding: 80px 0;
}

.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;

	text-align: center;
}

.section__suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;

}

.section_title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
}

.section_title:after {
	content: "";
	display: block;
	width: 60px;
	height: 4px;
	margin: 30px auto;

	background-color: #EFC39F;

}

.section__text {
	font-size: 15px;
	color: #999;
}

/* About */

.about {
	display: flex;
	justify-content: space-between;
}

.about__item {
	position: relative;
}

.about__text {
	font-size: 20px;
	font-weight: 700;
	color: #000;

	margin: 15px 0 0;


	text-align: center;

}

/* Statictics */

.statistics {
	background-color: #86D6CF;
}

.stat {
	display: flex;
}

.stat__item {
	flex: 1 1 0;
	padding: 70px 25px;

	border-left: 1px solid #B5EAE0;

	text-align: center;
	color: #fff;
}

.stat__item:last-child {
	border-right: 1px solid #B5EAE0;
}

.stat__count {
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}

.stat__text {
	font-size: 18px;
	font-weight:700;
}

/* Services */

.services {
	display: flex;
	justify-content: space-between;
	
}

.services__item {
	position: relative;
	margin: auto;
}

.services__img {
	width: 175px;
	height: 175px;
}

.services__text {
	font-size: 20px;
	font-weight: 700;
	color: #000;

	margin: 15px 0 0;


	text-align: center;
}

/* Form */

.form{
	position: absolute;
	margin-left: 225px;
	width: 700px;
	padding: 32px;
	border-radius: 10px;
	box-shadow: 0 4px 16px #ccc;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.input,
.button{
	font-family: sans-serif;
	margin: 0 0 32px 0;
	font-weight: normal;
}

.title{
	text-align: center;
	margin: 0 0 32px 0;
	font-weight: normal;
}

.group{
position: relative;
margin-bottom: 32px;
}

.label{
	position: absolute;
    top: 0;
	left: 0;
	color: #e0e0ee;
	transition: 0.3s;
}

.input{
	width: 100%;
	padding: 0 0 10px 0;
	border: none;
	border-bottom: 1px solid #e0e0ee;
	background-color: transparent;
	outline: none;
	transition: 0.3s;  
}

.input:focus{
	border-bottom: 1px solid #1a73a8;
}

.button{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #0071f0;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.button:focus,
.button{
	background-color: rgba(0, 113, 240, 0.7);
}

.input:focus~ .label,
.input:not(:placeholder-show)~.label{
	top: -18px;
	font-size: 12px;
	color: #e0e0e0;  
}

